// @mixin for-tablet-up {
//   @media (min-width: 768px) {
//     @content;
//   }
// }

// .monamo__about--wrapper {
// @include for-tablet-up {
// display: grid;
// grid-template-columns: repeat(auto-fit, minmax(auto, auto));
// }
// }

// .monamo__about {
//   color: red;
// }

// .monamo__about--list {
//   list-style: none;
//   margin: 0;
//   padding: 0;

//   @include for-tablet-up {
//     display: flex;
//     justify-content: space-around;
//   }
// }

// li {
//   margin-bottom: 1em;
//   background: white;

//   @include for-tablet-up {
//     width: 31%;
//   }
// }

.card-content {
  padding: 1.5em;
}

.monamo__about--wrapper {
  padding: 15vh 0;
}

.monamo__about-image {
  max-height: 406px;
  max-width: auto;
}

.card {
  z-index: 0;
}

.card-at-least-md:hover {
  transform: scale(1.1);
  transition: transform 500ms ease;
  z-index: 1;
  background: rgb(192, 188, 188);
}
