<mat-toolbar color="primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 monamo__logo--container">
        <img
          class="monamo__logo"
          src="../../../assets/images/placeholder.com-logo4.png"
          alt="monamo-logo"
        />
      </div>
      <div class="col-4 my-auto mx-auto">
        <button
          class="monamo__nav--button float-right mr-1"
          mat-toolbar-item
          mat-button
        >
          Add to Gallery
        </button>
        <button
          class="monamo__nav--button float-right mr-1"
          mat-toolbar-item
          mat-button
        >
          Show Gallery
        </button>
        <button
          class="monamo__nav--button float-right mr-1"
          mat-toolbar-item
          mat-button
        >
          Gallery
        </button>
        <button
          class="monamo__nav--button float-right mr-1"
          mat-toolbar-item
          mat-button
        >
          Interested in us?
        </button>
      </div>
      <div class="col-4 monamo__logo--container">
        <img
          class="monamo__logo float-right"
          src="../../../assets/images/placeholder.com-logo4.png"
          alt="monamo-logo"
        />
      </div>
    </div>
  </div>
</mat-toolbar>
