// TODO: remove borders
.monamo--wrapper {
    border: 1px solid green;
}

.monamo--section {
    border: 1px solid red;
    height: 100vh;
}

.monamo--section-col {
    border: 1px solid green;
    margin: 0;
    padding: 0;
}