
<app-side-nav></app-side-nav>

<div class="container-fluid monamo--wrapper">
    <div class="row monamo--section">
        <div class="col monamo--section-col">
            <app-image-slider></app-image-slider>
        </div>
    </div>
    <div class="row monamo--section">
        <div class="col monamo--section-col">Row 2 Col 1</div>
    </div>
    <div class="row monamo--section">
        <div class="col monamo--section-col">Row 3 Col 1</div>
    </div>
    <div class="row monamo--section">
        <div class="col monamo--section-col">Row 4 Col 1</div>
    </div>
    <div class="row monamo--section">
        <div class="col monamo--section-col">Row 5 Col 1</div>
    </div>
</div>
