.contacts--wrapper {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contacts--social-container {
  background-color: rgb(142, 163, 190);
}

// .contacts--map-container {
//   background-color: rgb(142, 163, 190);
// }

#map {
  min-height: 50vh;
  width: 100vw;
}

.privacy-policy--link__wrapper {
  margin-top: 2.5rem;
}

a {
  color: black;
}

a:hover {
  color: #78858b;
}
