.contacts--wrapper {
  background-color: rgb(142, 163, 190);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#map {
  height: 50vh;
  width: 49vw;
}

.contacts--header__text {
  padding-top: 5rem;
}
.privacy-policy--link__wrapper {
  margin-top: 2.5rem;
}

a {
  color: black;
}

a:hover {
  color: #78858b;
}
