* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.monamo__logo--container {
  justify-content: center;
  align-items: center;

  .monamo__logo {
    padding: 1rem 0.5rem;
    max-width: 8rem;
    height: auto;
    color: white;
  }
}

button.cdk-mouse-focused {
  outline: none;
  border: none;
}

.monamo__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "home"
    "main"
    "services"
    "portfolio"
    "contacts";
}

.home__wrapper {
  grid-area: home;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__wrapper {
  grid-area: main;
}

.services__wrapper {
  grid-area: services;
}

.portfolio__wrapper {
  grid-area: portfolio;
}

.contacts__wrapper {
  grid-area: contacts;
}
