// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$monamo-primary: mat-palette($mat-cyan);
$monamo-accent: mat-palette($mat-pink, A200, A100, A400);
// $monamo-primary: rgb(22, 21, 21);
// $monamo-accent: rgb(238, 183, 110);

// The warn palette is optional (defaults to red).
$monamo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$monamo-theme: mat-light-theme($monamo-primary, $monamo-accent, $monamo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($monamo-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  // background-image: url("./assets/images/mist-background.png");
  // f5eeee
  background-color: #f8f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.monamo__logo--container {
  justify-content: center;
  align-items: center;

  .monamo__logo {
    padding: 1rem 0.5rem;
    max-width: 8rem;
    height: auto;
    color: white;
  }
}

button.cdk-mouse-focused {
  outline: none;
  border: none;
}

.monamo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
  grid-template-areas:
    "home       home      home      home      home"
    "main       main      main      main      main"
    "services   services  services  services  services"
    "portfolio  portfolio portfolio portfolio portfolio"
    "contacts   contacts  contacts  contacts  contacts";
}

.home__wrapper {
  grid-area: home;
  background-color: rgb(199, 117, 117);
}

.main__wrapper {
  grid-area: main;
  background-color: rgb(150, 150, 197);
}

.services__wrapper {
  grid-area: services;
  background-color: rgb(192, 192, 145);
}

.portfolio__wrapper {
  grid-area: portfolio;
  background-color: rgb(76, 124, 76);
}

.contacts__wrapper {
  grid-area: contacts;
  background-color: rgb(137, 192, 192);
}
