nav {
  background-color: rgba(204, 228, 252, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  margin-bottom: 2rem;
  padding: 0 4rem 0 4rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

nav.active {
  transform: translateX(0%);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 2rem;
  text-align: right;
}

nav a {
  color: #111;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #78858b;
}

.toggle {
  border: none;
  outline: none;
  border-radius: 0 0 0 5px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  z-index: 1;
}

.toggle:focus {
  outline: none;
}

.toggle .fa-bars {
  display: block;
}

.toggle .fa-times {
  display: none;
}

button#toggle.active .fa-bars {
  display: none;
}

button#toggle.active .fa-times {
  display: block;
}

.toggle:hover {
  color: #78858b;
}

.monamo__logo {
  position: absolute;
  top: 0;
  left: 0;

  max-width: 10rem;
  height: auto;

  padding: 1rem;
}

.experts--header {
  position: absolute;
  top: 1rem;
  width: 60%;
  margin: 0 12rem;
  justify-self: center;

  text-align: center;
  text-justify: center;

  border: 0.01rem solid rgba(250, 245, 243, 0.2);
  border-radius: 5px;

  color: rgba(250, 245, 243, 0.9);
  background-color: rgba(78, 84, 94, 0.25);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");

  text-transform: lowercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.25rem;
}

#experts--container {
  transition: transform 0.5s ease-in-out;
}

.experts--header {
  filter: blur(0);
  transition: filter 0.5s ease-in-out;
}

.experts--header.active {
  filter: blur(3rem);
  transition: filter 0.5s ease-in-out;
}

@media screen and (min-width: 1440px) {
  .experts--header {
    position: absolute;
    top: 1rem;
    width: 60%;
    margin: 0 8.5rem;
    justify-self: center;

    text-align: center;
    text-justify: center;

    border: 0.01rem solid rgba(250, 245, 243, 0.2);
    border-radius: 5px;

    color: rgba(250, 245, 243, 0.9);
    background-color: rgba(78, 84, 94, 0.25);
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");

    text-transform: lowercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.25rem;
  }
}
