<nav id="nav">
  <button class="toggle" id="toggle" (click)="onToggle()">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </button>

  <div class="container p-0 h-100 mt-5">
    <div class="row p-0">
      <ul>
        <li>
          <img
            class="monamo__logo"
            src="../../../../../assets/logos/Monamo_logo.png"
            alt="monamo-logo"
          />
        </li>
        <li><a href="#">Pagrindinis</a></li>
        <li><a href="#">Apie mus</a></li>
        <li><a href="#">Paslaugos</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Kontaktai</a></li>
      </ul>
    </div>
  </div>
</nav>
