<nav id="nav">
  <button class="toggle" id="toggle" (click)="onToggle()">
    <span class="material-icons near-me">near_me</span>
    <span class="material-icons navigation">navigation</span>
  </button>

  <div class="container p-0">
    <div class="row p-0">
      <ul class="col monamo--nav-menu">
        <li>
          <img class="monamo__logo" src="../../../../../assets/images/Monamo_logo.png" alt="monamo-logo" />
        </li>
        <li><a href="#">Pagrindinis</a></li>
        <li><a href="#">Apie mus</a></li>
        <li><a href="#">Paslaugos</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Kontaktai</a></li>
      </ul>
    </div>
  </div>
</nav>