<div class="container p-5 ">
  <div class="row d-none d-lg-block filler-row"><br></div>
  <div class="row justify-content-center">
    <div class="col-sm-2 d-none d-xl-block about-us--text-sideways">apie mus</div>
    <div class="col-sm-5 pb-5 pr-5 about-us--text-colored">
      <div class="row pt-4">
        <div class="col pt-5">
          <p>
            Mes - karkasinių ir gyvenamųjų namų statybos firma
            <span class="highlighted-text">monamo</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 pl-5">
      <div class="row">
        <div class="col mb-4 about-us--text-rational">Veiklą pradėjome 2005 m. Nuo pat jos pradžios į komunikaciją
          žvelgiame kaip į svarbią organizacijų vadybos funkciją, kuri turi būti racionali, pagrįsta ir matuojama.</div>
      </div>
      <div class="row">
        <div class="col about-us--text-rational">Šiandien esame viena didžiausių komunikacijos agentūrų Lietuvoje.
          Pasitelkdami tradicinės ir skaitmeninės komunikacijos sprendimus, kasmet padedame klientams siekti jų verslo
          tikslų.</div>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-block filler-row"><br></div>
</div>
