<div class="container-fluid p-0 monamo--about-wrapper">
  <div class="row justify-content-center align-items-center monamo--about-row">
    <div class="col-md-5 text-center monamo--about-col">
        <h1 class="monamo--about-header">monamo statybos<br>darbai</h1>
    </div>
    <div class="col-md-5 text-center monamo--about-col">
        <h5 class="monamo--about--paragraph">
            mes efektyviai vykdome karkasiniu namu statybos ir prieziuros darbus,
            glaudziai bendradarbiaujame su kiekvienu klientu, <br>
            esame sukaupe desimtmecio patirti, firmos isteigimas mena 2010-uosius,<br>
            gerbiame ir tausojame gamta priimdami eko-inovatyvius sprendimus<br>
        </h5>
    </div>
  </div>
</div>
