.about-us--container {
  padding: 5.5rem;
  margin: 5.5rem 5.5rem 5.5rem 8.5rem;

  font-size: 1.5rem;

  background-color: rgba(147, 158, 176, 0.05);
  border-radius: 5px;
}

.about-us--text-sideways {
  transform: rotate(270deg);

  text-align: right;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  padding-top: 0.2rem;
}

.about-us--text-colored {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.75rem;
  text-align: right;

  color: rgb(78, 63, 60);

  border-right: 0.1rem solid black;
}

.about-us--text-rational {
  font-size: 1.25rem;
  text-align: left;
  color: rgb(104, 96, 93);
}


.highlighted-text {
  color: rgb(147, 158, 176);
  text-transform: uppercase;
}
